head {
    margin: 50px;
}
header{
    background-image: url("header.png");
   background-size: contain;
   padding: 145px;;
   list-style: none;
   display: flex;
   margin:0px;
   background-repeat: no-repeat;
}
ul li {
    list-style: none;
    font-size: x-large;
  
}
li a{
    text-decoration: none;
    margin-left: 120px;
    text-align: center;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0%;
}
body{
    
}
h1 {
    font-size: 65px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(172, 113, 30);
    outline-color: black;
}